<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
<h2>Modify a Training Goal</h2>
  <div class="form-group">
  
   <a href='/edit/{{_id}}' alt='edit this entry'> Edit </a>

    <input type="submit" value="Modify entry" class="btn btn-primary">
   
 </div>
</form>
</body>
</html>