<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
<h2>Remove a Training Goal</h2>
  <div class="form-group">
  
   <a href='/delete/{{_id}}' alt='delete this entry'> Remove </a>

    <input type="submit" value="Remove entry" class="btn btn-primary">
   
 </div>
</form>
</body>
</html>